* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    background-color: #CFD8DC;
}

.container div h1 {
    text-align: center;
    margin-top: 0px;
    font-weight: bolder;
    color: rgb(76, 0, 255);
}

img {
    border-radius: 50px;
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-weight: bolder;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
}

.container {
    text-align: center;
    background: #CFD8DC;
}

.header {
    padding-top: 30px;
    color: rgb(83, 0, 0);
    font-size: 20px;
    margin: auto;
    line-height: 100px;
}

.sub-container {
    max-width: 1500px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teams {
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}

.teams:hover {
    background: rgba(251, 255, 255, 0.863);
    border-radius: 12px;
}

.teams img {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-color: black;
}

.name {
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(250, 86, 10);
}

.about {
    margin: 20px 0;
    font-weight: lighter;
    color: rgb(7, 118, 146);
}

.social-links {
    margin: 14px;
}

.social-links a {
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}

.social-links a i {
    color: #444;
    align-items: center;
}

.social-links a:hover {
    transform: scale(1.5);
    border-radius: 10px;
    color: blue;
}

@media screen and(max-width:600px) {
    .teams {
        max-width: 100px;
    }
}