/* css file for gallery.html */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: #CFD8DC;
}

.slider {
    width: 800px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 25%;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
    margin-left: 100px;
}

.slide {
    width: 20%;
    transition: 2s;
    position: relative;
}

.slide img {
    width: 800px;
    height: 600px;
}


/* css for manual slide navigation */

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #02050c;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: 14%
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #02050c;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
    margin-top: 14%
}

#radio4:checked~.first {
    margin-left: -60%;
    margin-top: 14%
}

#radio5:checked~.first {
    margin-left: -80%;
    margin-top: 14%
}

#radio6:checked~.first {
    margin-left: -100%;
    margin-top: 14%
}

#radio7:checked~.first {
    margin-left: -120%;
    margin-top: 14%
}

#radio8:checked~.first {
    margin-left: -140%;
    margin-top: 14%
}

#radio9:checked~.first {
    margin-left: -160%;
    margin-top: 14%
}


/* css for automatic navigation */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #02050c;
    padding: 5px;
    border-radius: 10px;
    margin-top: 14%;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #02050c;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #02050c;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #02050c;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #02050c;
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background: #02050c;
}

#radio6:checked~.navigation-auto .auto-btn6 {
    background: #02050c;
}

#radio7:checked~.navigation-auto .auto-btn7 {
    background: #02050c;
}

#radio8:checked~.navigation-auto .auto-btn8 {
    background: #02050c;
}

#radio9:checked~.navigation-auto .auto-btn9 {
    background: #02050c;
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-weight: bolder;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
}